<router-outlet></router-outlet>
<ngx-spinner
bdColor="rgba(51,51,51,0.8)"
  size="large"
  color="#fff"
  type="ball-clip-rotate-multiple">
 <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
