<div *ngIf="addingEntry; else entrySubmitted">
<div class="jumbotron jumbotron-fluid" >
  <div class="container">
    <h1 class="display-4">Submit your entry</h1>
    <p class="lead">Surprise your friends/co-workers with your special that something</p>
  </div>
</div>

<div class="container" *ngIf="addingEntry">
  <form #addEntryForm="ngForm">
    <div class="form-group">
      <label for="name">Display Name</label>
      <input [(ngModel)]="entry.name" type="text" class="form-control" id="name" name="name" #name="ngModel" required>
    </div>

    <div class="form-group">
      <label for="trueStatement1">True Statement #1</label>
      <input [(ngModel)]="entry.t1" type="text" class="form-control" id="trueStatement1" name="t1" #t1="ngModel"
        required>
    </div>

    <div class="form-group">
      <label for="trueStatement2">True Statement #2</label>
      <input [(ngModel)]="entry.t2" type="text" class="form-control" id="trueStatement2" name="t2" #t2="ngModel"
        required>
    </div>

    <div class="form-group">
      <label for="falseStatement">The False Statement</label>
      <input [(ngModel)]="entry.f" type="text" class="form-control" id="falseStatement" name="f" #f="ngModel" required>
    </div>

    <div class="form-group">
      <button type="button" class="btn btn-success btn-lg" (click)="submitEntry()" [disabled]="!addEntryForm.form.valid">Submit</button>
    </div>
  </form>
</div>
</div>

<ng-template #entrySubmitted>
<div class="alert alert-success" role="alert">
  <h1 class="display-4">Thanks for your entry, {{name}}</h1>
  <p class="text-muted">Now awaiting other entries and for the host to proceed to the next stage</p>
</div>
</ng-template>
