<div *ngIf="!!session">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1>Awaiting entries</h1>
      <div class="row align-items-center">
        <div class="col-sm-2">
          <span>Session started:</span>
        </div>
        <div class="col-sm">
          <h1><span class="badge badge-light">{{session.id}}</span></h1>
        </div>
      </div>
      <hr class="my-4">
      <p>Scan the QR code and add your entry</p>
    </div>
  </div>

  <div class="container">
    <div class="row text-center">
      <div class="col-sm">
        <app-qrcode [session]="session"></app-qrcode>
      </div>
      <div class="col-sm">
        <p class="lead">Number of entries: <span class="badge badge-pill badge-info">{{entries.length}}</span></p>
        <ul class="list-group">
          <li class="list-group-item" *ngFor="let announcement of announcements">{{announcement}}</li>
        </ul>
      </div>
      <div class="col-sm">
        <form #sessionForm="ngForm">
          <div class="form-group">
            <button type="button" class="btn btn-success btn-lg" (click)="startGame()" [disabled]="!entries.length">
              Let's Rock and Roll
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
