<div *ngIf="entry; else nullEntries">
  <div class="jumbotron jumbotron-fluid">

    <div class="container text-center">
      <button type="button" class="btn btn-danger btn-lg float-right mt-3" (click)="reveal()" [disabled]="showAnswer">
        <span>Reveal</span>
      </button>
      <h1 class="display-4">{{ entry.name }}</h1>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-sm-6">
        <div class="text-right mb-2">
          <ui-switch [(ngModel)]="showVotes" checkedLabel="Show" uncheckedLabel="Hide"></ui-switch>
          <span class="ml-2">votes</span>
        </div>
        <ol class="list-group">
          <li *ngFor="let statement of statements; let i = index" class="list-group-item d-flex justify-content-between align-items-center"
            [ngClass]="{ 'list-group-item-success': showAnswer && isAnswer[i] }">
            <blockquote class="blockquote text-center">
              {{ statement }}
            </blockquote>
            <h3><span *ngIf="showVotes" [class]="getBadgeClass(i)">{{votes[i]}}</span></h3>
          </li>
        </ol>
      </div>
    </div>
  </div>

  <!-- pagination -->
  <footer class="footer">
    <nav aria-label="Page navigation example">
      <ul class="pagination pagination-lg justify-content-center">
        <li class="page-item" [class.disabled]="turn === 0">
          <a class="page-link" (click)="showEntry(turn-1)">Previous</a>
        </li>
        <li *ngFor="let e of entries; let i = index" class="page-item" [class.active]="turn === i">
          <a class="page-link" (click)="showEntry(i)">{{ e.name }}</a>
        </li>
        <li class="page-item" [class.disabled]="turn === entries.length-1">
          <a class="page-link" (click)="showEntry(turn+1)">Next</a>
        </li>
      </ul>
    </nav>
  </footer>

</div>

<ng-template #nullEntries>
  <div class="alert alert-danger" role="alert">
    <p class="lead">Please restart session.</p>
    <div class="form-group">
      <button type="button" class="btn btn-primary btn-lg" routerLink="/session">Start new session</button>
    </div>
  </div>
</ng-template>
