.list-group-item.active {
  z-index:2;
  color:#ffffff;
  background-color:#ff0000;
  border-color:#ff0000;
}

.list-group-item {
  height: 16vh;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 80px; /* Set the fixed height of the footer here */
  line-height: 80px; /* Vertically center the text there */
  /* background-color: #f5f5f5; */
}
