<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">
      Welcome to 2T1F!
    </h1>
    <p class="lead">How much do you really know about your friends/co-workers?</p>
    <hr class="my-4">
    <p>Start a new session or join an existing one</p>
    <form #myForm="ngForm">
      <div class="row">
        <div class="col-sm">
          <div class="form-group">
            <button type="button" class="btn btn-primary btn-lg" routerLink="/session">Start new session</button>
          </div>
        </div>
        <div class="col-sm">
          <form class="form-inline" #homeForm="ngForm" novalidate>
            <div class="form-group mb-2 mr-2">
              <input [(ngModel)]="sessionId" type="text" class="form-control form-control-lg" id="sid" name="sid"
                required minlength="4" maxlength="4" placeholder="session id eg A1B2" #sid="ngModel">
            </div>
            <button type="button" class="btn btn-success btn-lg mb-2" routerLink="/entry/add/{{sessionId}}" [disabled]="!homeForm.form.valid">Join</button>
          </form>
        </div>
      </div>
      <div class="row">
        <div class="col"></div>
        <div class="col">
          <div *ngIf="sid.invalid && (sid.dirty || sid.touched)" class="alert alert-danger">
            <div *ngIf="sid?.errors.required">
              Required.
            </div>
            <div *ngIf="sid?.errors.minlength || sid?.errors.maxlength">
              To be exactly 4 characters long.
            </div>
          </div>
        </div>
      </div>
    </form>

  </div>
</div>
