<div *ngIf="name != null">
  <div class="jumbotron jumbotron-fluid">
    <div class="container text-center">
      <h1 class="display-4">{{ name }}</h1>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-sm-6">
        <div *ngIf="!showAnswer" class="lead mb-2">Which one is false?</div>
        <div *ngIf="showAnswer" class="lead mb-2 text-right">Current score: {{ score }}</div>
        <ol class="list-group">
          <li *ngFor="let statement of statements; let i = index" class="list-group-item d-flex justify-content-between align-items-center"
            [ngClass]="{ 'list-group-item-info': voted === i }" (click)="vote(i)">
            <blockquote class="blockquote text-center">
              {{ statement }}
            </blockquote>
            <img *ngIf="showAnswer && answer === i" src="assets/images/check.svg" alt="" class="float-right" height="50%">
            <img *ngIf="showAnswer && answer !== i && voted === i" src="assets/images/close.svg" alt="" class="float-right" height="50%">
          </li>
        </ol>
      </div>
    </div>
  </div>
</div>
